@import './variables';


.ae-direct {
    min-height: fit-content;
    min-height: 500px;
    max-width: fit-content;
    min-width: 250px;
    position: absolute;
    // bottom: 0;
    // top: 100;
    margin-top: 200px;
}

.ae-card{
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: $white;
    margin-bottom: 15px;
    margin-left: 15px;
    // z-index: 1;
    font-size: small;
    h3{
      font-size: x-large;
      font-weight: 800;
      border-bottom: solid 1px;
      border-color: rgba(256, 256, 256, 0.5);
    }
  }