@import './variables';

.ae-footer {
  background-image: url(../img/pexels-max-andrey-1197095.jpg);
  @include background;
  color: $white;
  position: relative;
  padding: 0;
  border: 0;
  margin: 0;
  a {
    text-decoration: none;
    color: $neon-grass;
    img {
      height: 128px;
      width: 128px;
      border-radius: 9999px;
    }
  }
}