@import './variables';

.ae-hero{
    position: relative;
    height: 1500px;
    background-image: url(../img/pexels-pixabay-56832.jpg);
    padding: 0;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // margin: 0;
    margin-top: 12px;
}
