@import "./variables";

.navbar-item {
  color: #4a4a4a !important;
}
span.icon {
  z-index: 1000;
}
input {
  z-index: 1;
}

.ae-nav {
  background-color: $white-sand;
  a {
    color: $med-blue;
    &:hover {
      color: $neon-grass;
      background-color: $sandy;
    }
  }
}
