/* all media queries */
/* at a width of 768px or lower hamburger menu appears and cards become stacked */
@media screen and (max-width: 768px) {
  .ae-footer {
    img {
      height: 32px;
      width: 32px;
      border-radius: 0;
    }
  }
}
  
  @media only screen and (max-width: 1266px) {

  }
  @media only screen and (max-width: 960px) {

  }
  
  @media only screen and (max-width: 420px) {

  }