/* Color Theme Swatches in Hex */
$deep-teal: #04C4D9;
$med-teal: #04D9D9;
$light-teal: #04D9C4;
$sandy: #e7d9cc;
$orange: #D95323;
$med-blue: #157EBF;
$light-blue: #55A6D9;
$teal: #04BFBF;
$olive: #7C8C03;
$white-sand: #F2E4D8;
$grassy: #65A603;
$neon-grass: #13E800;
$dark-grass: #00731E;
$lighter-teal: #55FFFF;
$neon-orange: #FF4407;
$beauty-blue: #0012FF;
$black: #0F1926;
$neon-purple: #7135F2;
$neon-teal: #05DBF2;
$neon-sand: #F2B29B;
$grey: #737373;
$light-grey: #A6A6A6;
$lightest-grey: #BFBFBF;
$dark-grey: #404040;
$sky-blue: #6DBFF2;
$pink: #F277B0;
$neon-red: #F20519;